@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  --font-mono:
    "Cascadia Code", "SFMono-Regular", "Consolas", "Liberation Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", var(--font-sans);
  letter-spacing: -0.01em;
}

th,
td {
  border: 1px solid #e2e8f0;
  padding: 12px 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e2e8f0;
}
